body{
    background-color:black;
}
nav{
    display:flex;justify-content:space-between;
    color:white;
    margin-left:30px;
    font-size:26px;
}
nav h1{
    font-size:40px;
    color:rgba(250,10,100,0.801);
    border-bottom:5px solid rgba(250,10,100,0.801);
    border-radius:40px;
}
ul{
    display:flex;
}
ul li{
    list-style:none;
    margin-inline:20px;
}
.btn button{
    width:100px;
    height:36px;
    border:3px solid rgba(250,10,100,0.801);
    background-color:black;
    color:white;
    font-size:18px;
    border-radius:20px;
    margin-top:20px;
    margin-right:20px;
}
.main-div{
    display:flex;
    justify-content:space-between;
    color:white;
    margin-top:30px;
}
.main-div .head{
    font-size:50px;
    margin-left: 30px;
}
.head button{
    width: 180px;
    height: 47px;
    background-color:rgba(250,10,100,0.801);
    color:white;
    font-size: 25px;
    border-radius: 6px;
}
.head button:hover{
    background-color: black;
    border: 3px solid rgba(250,10,100,0.801);
    cursor:pointer;
}
.img img{
    margin-right:30px;
    max-width: 580px;
}











